# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# FastAPI / Uvicorn logs
*.log

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.iml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




